# Global owners
* @mkornacker @aaron-siegel

# Docs owners
/docs/mintlify/** @mkornacker @aaron-siegel @pierrebrunelle @jacobweiss2305
/docs/sample-apps/** @mkornacker @aaron-siegel @pierrebrunelle @jacobweiss2305
