.DS_Store
.coverage
.idea
.ipynb_checkpoints
.make-install
.mypy_cache
.venv
.vscode
__pycache__
*.iml
**/*.quarto_ipynb

/docs/notebooks/.quarto/
/dist/
/docs/local/
/local/
/pixeltable/_version.py
/target/
/tests/target/
