.DS_Store
.coverage
.idea
.ipynb_checkpoints
.make-install
.mypy_cache
.venv
.vscode
.benchmarks
__pycache__
*.iml

/dist/
/docs/local/
/local/
/pixeltable/_version.py
/target/
/tests/target/

# Node.js
node_modules/
package-lock.json
docs/release/package.json
