site_name: Pixeltable API
site_author: Pixeltable, Inc.

copyright: |
  &copy; 2022 - 2024 <a href="https://github.com/pixeltable" target="_blank" rel="noopener">Pixeltable, Inc.</a> All rights reserved.

docs_dir: docs/api
site_dir: target/site

repo_url: https://github.com/pixeltable/pixeltable
repo_name: pixeltable/pixeltable

theme:
  name: material

extra_css:
  - css/mkdocstrings.css

nav:
  - Home: index.md
  - 'API Cheat Sheet': api-cheat-sheet.md
  - 'Configuration Options': config.md
  - 'API Reference':
    - pixeltable: pixeltable/pixeltable.md
    - pixeltable.io: pixeltable/io.md
    - pixeltable.iterators:
      - ComponentIterator: pixeltable/iterators/component-iterator.md
      - DocumentSplitter: pixeltable/iterators/document-splitter.md
      - FrameIterator: pixeltable/iterators/frame-iterator.md
      - TileIterator: pixeltable/iterators/tile-iterator.md
      - AudioSplitter: pixeltable/iterators/audio-splitter.md
    - DataFrame: pixeltable/data-frame.md
    - Table: pixeltable/table.md
    - UpdateStatus: pixeltable/update-status.md
  - Built-in Functions and Operators:
    - audio: pixeltable/functions/audio.md
    - image: pixeltable/functions/image.md
    - json: pixeltable/functions/json.md
    - string: pixeltable/functions/string.md
    - timestamp: pixeltable/functions/timestamp.md
    - video: pixeltable/functions/video.md
  - Use Cases:
    - Computer Vision: pixeltable/functions/vision.md
  - Model and Inference Functions:
    - anthropic: pixeltable/functions/anthropic.md
    - fireworks: pixeltable/functions/fireworks.md
    - gemini: pixeltable/functions/gemini.md
    - huggingface: pixeltable/functions/huggingface.md
    - llama_cpp: pixeltable/functions/llama_cpp.md
    - mistralai: pixeltable/functions/mistralai.md
    - ollama: pixeltable/functions/ollama.md
    - openai: pixeltable/functions/openai.md
    - replicate: pixeltable/functions/replicate.md
    - together: pixeltable/functions/together.md
    - whisper: pixeltable/functions/whisper.md
  - Extended Model and Inference Functions:
    - whisperx: pixeltable/ext/functions/whisperx.md
    - yolox: pixeltable/ext/functions/yolox.md

validation:
  omitted_files: warn
  absolute_links: warn
  unrecognized_links: warn
  anchors: warn

plugins:
  - search
  - autorefs
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths: [.]
          options:
              docstring_section_style: list
              docstring_style: google
              extensions:
                tool.doc_plugins.griffe:PxtGriffeExtension:
              filters: ["!^_"]
              inherited_members: true
              line_length: 80
              docstring_options:
                ignore_init_summary: true
              merge_init_into_class: true
              separate_signature: true
              show_bases: false
              show_root_heading: true
              show_signature_annotations: true
              show_signature_crossrefs: true
              show_source: false
              show_symbol_type_heading: true
              show_symbol_type_toc: true
              signature_crossrefs: true
