site_name: Pixeltable SDK
site_author: Pixeltable, Inc.

copyright: |
  &copy; 2022 - 2026 <a href="https://github.com/pixeltable" target="_blank" rel="noopener">Pixeltable, Inc.</a> All rights reserved.

docs_dir: docs/mkdocs
site_dir: target/site

repo_url: https://github.com/pixeltable/pixeltable
repo_name: pixeltable/pixeltable

theme:
  name: material

nav:
  - Home: index.md

validation:
  omitted_files: warn
  absolute_links: warn
  unrecognized_links: warn
  anchors: warn

plugins:
  - search
  - autorefs
