site_name: Pixeltable
site_author: Marcel Kornacker

copyright: |
  &copy; 20222 - 2023 <a href="https://github.com/mkornacker" target="_blank" rel="noopener">Marcel Kornacker</a> All rights reserved.

#docs_dir: .
site_dir: site

repo_url: https://github.com/mkornacker/pixeltable
repo_name: mkornacker/pixeltable

nav:
- Home: README.md
- Cheat Sheet: api_cheat_sheet.md
- Tutorials:
  - Pixeltable Basics: tutorials/pixeltable_basics.ipynb
  - Comparing Object Detection Models for Video: tutorials/comparing_object_detection_models_for_video.ipynb
  - Object Detection in Videos: tutorials/object_detection_in_videos.ipynb
  - Using the OpenAI API with Pixeltable: tutorials/openai_demo.ipynb
- How-To:
  - Working with external files: howto/working_with_external_files.ipynb
- API Reference:
  - Client: api/client.md
  - DataFrame: api/data_frame.md
  - InsertableTable: api/insertable_table.md
  - Table: api/table.md
  - View: api/view.md

theme:
  name: material
  custom_dir: docs/overrides

plugins:
- search
- autorefs
- mkdocstrings:
    default_handler: python
    handlers:
      python:
        paths: [.]
        options:
            annotations_path: brief
            members_order: source
            line_length: 80
            docstring_options:
              ignore_init_summary: false
            merge_init_into_class: false
            docstring_style: google
            docstring_section_style: list
            show_docstring_description: true
            show_source: false
            show_root_heading: true
            show_bases: false
            show_signature_annotations: true
            show_signature_crossrefs: true
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            separate_signature: true
            signature_crossrefs: true
- mkdocs-jupyter:
    include_source: true

