@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light mode defaults */
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark mode defaults */
    --background: #0a0a0a;
    --foreground: #ffffff;
  }
}

body {
  font-family: Inter, Helvetica, sans-serif;
}