name: Build and Deploy Docs
on:
  push:
    branches: [ master ]
permissions:
      contents: write
jobs:
  install-and-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install poetry
      run: pipx install poetry
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.8'
        cache: 'poetry'
    - name: Install
      run: make install
    - name: Build and Deploy
      run: make deploy-docs