name: Lint python files changed by a PR

on:
  pull_request:
    branches: [master]

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9"]
    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Install python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install type-checking and linting tools
      run: |
        python -m pip install --upgrade pip
        python -m pip install mypy sqlalchemy[mypy] pylint ruff
    # These steps will check ONLY the files that are affected by the PR.
    # For the time being, failures will be ignored (report-only).
    - name: Analyze code with mypy
      run: ./scripts/analyze-changed-files.sh mypy
      continue-on-error: true
    - name: Analyze code with pylint
      run: ./scripts/analyze-changed-files.sh pylint
      continue-on-error: true
    - name: Analyze code with ruff
      run: ./scripts/analyze-changed-files.sh "ruff check" "ruff format --check"
      continue-on-error: true
