name: Lint python files changed by a PR

on:
  pull_request:
    branches: [master]

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9"]
    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Install python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install type-checking and linting tools
      run: |
        python -m pip install --upgrade pip
        python -m pip install mypy 'sqlalchemy[mypy]' pylint ruff
        # TODO We should really be using poetry for this
        python -m pip install mkdocs==1.6.0 mkdocstrings==0.25.1 mkdocs-material==9.5.23 mkdocstrings-python==1.10.2 griffe==0.45.0 black
        python -m pip install -e .
    # These steps will check ONLY the files that are affected by the PR.
    # For the time being, failures will be ignored (report-only).
    - name: Analyze code with mypy
      run: ./scripts/analyze-changed-files.sh mypy
      continue-on-error: true
    - name: Analyze code with pylint
      run: ./scripts/analyze-changed-files.sh pylint
      continue-on-error: true
    - name: Analyze code with ruff
      run: ./scripts/analyze-changed-files.sh "ruff check" "ruff format --check"
      continue-on-error: true
    - name: Validate docstrings
      run: mkdocs build --strict
