name: tests

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  workflow_dispatch:
    inputs:
      enable_tmate:
        type: boolean
        description: 'Enable SSH debugging with tmate'
        required: false
        default: false

env:
  # in a PR, the secrets will be empty
  ANTHROPIC_API_KEY: ${{ secrets.ANTHROPIC_API_KEY }}
  FIREWORKS_API_KEY: ${{ secrets.FIREWORKS_API_KEY }}
  MISTRAL_API_KEY: ${{ secrets.MISTRAL_API_KEY }}
  OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
  TOGETHER_API_KEY: ${{ secrets.TOGETHER_API_KEY }}
  OPENCV_VIDEOIO_DEBUG: 1
  POETRY_VERSION: 1.8.2

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        # Test with Python 3.9 (minimum supported version) on every platform.
        # After a PR, test only the basic (free) platforms: ubuntu-22.04, macos-12, macos-latest, windows-2022.
        # On other event types (push and workflow_dispatch), test also ubuntu-arm64 and ubuntu-x64-t4.
        os: ${{ github.event_name == 'pull_request'
                && fromJSON('["ubuntu-22.04", "macos-12", "windows-2022"]')
                || fromJSON('["ubuntu-22.04", "macos-12", "windows-2022", "ubuntu-arm64", "ubuntu-x64-t4", "windows-arm64"]') }}
        python-version: ["3.9"]
        test-category: ["py"]
        poetry-options: ["--with dev"]
        # Add some additional matrix configurations that are run only on linux, to test
        # additional scenarios/compatibilities that are unlikely to be platform-sensitive.
        include:
          # Python 3.10
          - os: ubuntu-22.04
            python-version: "3.10"
            test-category: "py"
            poetry-options: "--with dev"
          # Python 3.11
          - os: ubuntu-22.04
            python-version: "3.11"
            test-category: "py"
            poetry-options: "--with dev"
          # Python 3.12
          - os: ubuntu-22.04
            python-version: "3.12"
            test-category: "py"
            poetry-options: "--with dev"
          # Minimal installation of pixeltable (without --with dev)
          - os: ubuntu-22.04
            python-version: "3.9"
            test-category: "py"
            poetry-options: ""
          # Notebook tests
          - os: ubuntu-22.04
            python-version: "3.9"
            test-category: "ipynb"
            poetry-options: "--with dev"
          # Linting, type-checking, docstrings validation, etc.
          - os: ubuntu-22.04
            python-version: "3.9"
            test-category: "lint"
            poetry-options: "--with dev"

    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -el {0}  # Needed for conda to work
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Set up tmate session
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.enable_tmate }}
        uses: mxschmitt/action-tmate@v3
      - name: Delete unnecessary files
        if: ${{ !startsWith(matrix.os, 'windows') }}
        run: |
          df -h
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
          sudo rm -rf /opt/hostedtoolcache
          df -h
      - name: Create user runtime dir
        if: ${{ matrix.os == 'ubuntu-arm64' || matrix.os == 'ubuntu-x64-t4' }}
        # pgserver needs this dir, and it doesn't seem to exist on ubuntu-arm64 or t4 instances for some reason.
        run: |
          sudo mkdir -p /run/user/1001
          sudo chmod a+rwx /run/user/1001
      - name: Install conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          miniconda-version: latest
          activate-environment: pxt
          python-version: ${{ matrix.python-version }}
          use-only-tar-bz2: true  # Needed to use conda with cache action
      - name: Show conda info
        run: conda info
      - name: Install ffmpeg
        # Needed for WhisperX
        if: ${{ matrix.poetry-options != '' }}
        run: conda install -c conda-forge libiconv ffmpeg
      - name: Install poetry
        # setuptools >= 69.2 has been causing problems with github actions even when its
        # version is enforced in poetry. For now, explicitly revert to setuptools 69.1.1
        # prior to installing project dependencies.
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry==$POETRY_VERSION
          python -m pip install setuptools==69.1.1
      - name: Define a venv cache
        uses: actions/cache@v4
        if: false
        with:
          # The cache is keyed to the following:
          # - Matrix parameters
          # - poetry.lock and related .toml files and Makefile (so that if the
          #   dependencies or poetry config change, the cache will be invalidated)
          path: ${{ env.CONDA }}/envs
          key: venv-${{ matrix.os }}-${{ matrix.python-version }}-${{ matrix.poetry-options }}-${{
            hashFiles('.github/workflows/pytest.yml', 'poetry.lock', 'poetry.toml', 'pyproject.toml', 'Makefile') }}
      - name: Install the project dependencies
        # Retry 3 times to be (hopefully) resilient against transient connection errors.
        shell: bash -l {0}  # Don't use -e flag
        run: |
          set +e
          RETRIES=3
          while (( RETRIES-- > 0 )); do
            poetry install ${{ matrix.poetry-options }}
            RESULT="$?"
            if [[ "$RESULT" == 0 ]]; then
              break
            fi
            echo "Dependencies installation failed with exit code $RESULT; $RETRIES tries remaining."
            sleep 60
          done
          if [[ "$RESULT" != 0 ]]; then
            exit 1
          fi
          echo "Dependencies installation succeeded."
      - name: Install yolox
        # Yolox cannot be installed with poetry and only seems to work with python <= 3.10 and not on ubuntu-arm64
        if: ${{ matrix.poetry-options != '' && matrix.python-version == '3.9' && matrix.os == 'ubuntu-22.04' }}
        run: python -m pip install git+https://github.com/Megvii-BaseDetection/YOLOX@ac58e0a
      - name: Ensure pytest is installed
        # This is necessary for running the tests without --with dev
        if: ${{ matrix.poetry-options == '' }}
        run: pip install pytest coverage
      - name: Run the unit tests
        if: ${{ matrix.test-category == 'py' }}
        run: |
          coverage run -m --source=pixeltable pytest -v -m ''
          coverage report -m
      - name: Run the notebook tests
        if: ${{ matrix.test-category == 'ipynb' }}
        run: |
          ./scripts/prepare-nb-tests.sh --no-pip
          pytest -v -m '' --nbmake --nbmake-timeout=1800 target/nb-tests/*.ipynb
      - name: Type check
        if: ${{ matrix.test-category == 'lint' }}
        run: mypy pixeltable/*.py pixeltable/catalog pixeltable/ext pixeltable/functions
      - name: Validate docstrings
        if: ${{ matrix.test-category == 'lint' }}
        run: mkdocs build --strict
      - name: Print utilization info
        if: ${{ startsWith(matrix.os, 'ubuntu') }}
        run: |
          df -h
          du -h -d3 /home/runner
          du -h -d3 /home/runner/.cache
      - name: Print utilization info
        if: ${{ !startsWith(matrix.os, 'ubuntu') }}
        run: df -h
