name: stress-tests

on:
  schedule:
    - cron: "33 1 * * *"  # Daily at 01:33 UTC
  workflow_dispatch:
    inputs:
      enable_tmate:
        type: boolean
        description: 'Enable SSH debugging with tmate'
        required: false
        default: false

env:
  GRAFANA_INSTANCE_ID: '1465844'
  GRAFANA_API_KEY: ${{ secrets.GRAFANA_API_KEY }}
  OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY_PERF_TEST }}

jobs:
  random-ops:
    strategy:
      matrix:
        options: [ '', '--read-only' ]
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: Set up tmate session
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.enable_tmate }}
        uses: mxschmitt/action-tmate@v3
        with:
          detached: true
      - name: Delete unnecessary files
        run: |
          df -h
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
          sudo rm -rf /opt/hostedtoolcache
          df -h
      - name: Install conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          miniconda-version: latest
          activate-environment: pxt
      - name: Install python
        run: |
          conda install -y python=3.10 pip=25.0
          conda info
      - name: Install uv
        run: |
          python -m pip install --upgrade pip
          python -m pip install "uv==0.9.3"
      - name: Install the project dependencies
        # Retry 3 times to be resilient against transient connectivity issues.
        run: |
          export VIRTUAL_ENV="$CONDA_PREFIX"
          ./scripts/retry.sh 3 60 uv sync --active --no-dev
      - name: Run stress tests
        run: ./scripts/stress-tests.sh ${{ matrix.options }} 12 18000
      - name: Archive log files
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: random-ops-log${{ matrix.options }}
          path: ~/.pixeltable/random-ops.log

  performance-tests:
    runs-on: ubuntu-24.04-perftest
    defaults:
      run:
        shell: bash -el {0}  # Needed for conda to work
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Set up tmate session
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.enable_tmate }}
        uses: mxschmitt/action-tmate@v3
        with:
          detached: true

      - name: Install conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          miniconda-version: latest
          activate-environment: pxt

      - name: Install python
        run: |
          conda install -y python=3.10 pip=25.0
          conda info

      - name: Install pixeltable and dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e .
          python -m pip install openai opentelemetry-api opentelemetry-sdk opentelemetry-exporter-otlp-proto-http

      - name: Run performance tests
        run: python tool/perftest_runner.py
        timeout-minutes: 10

      - name: Report failure
        if: failure()
        run: echo "Performance test failed. Check the logs for details."
